{% extends "base1.html" %}
{% block content %}

{% load staticfiles %}
{% load bootstrap %}
    
    <script src="{% static 'sweetalert-master/dist/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'sweetalert-master/dist/sweetalert.css' %}"> 
    <script>
        $(document).ready(function(){
            $("#hellomessage").hide()
            $(".placestable").hide()
            $(".placestable").fadeIn(3000);
            $("#hellomessage").fadeIn(4000);
        });
    </script>

    <script>
        function okmessage(){
            swal("Good job!", "You clicked the button!", "success");
        }
    </script>

    <header id="header"><!--header-->
            
        <div style="margin-top:10px">     
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Места</li>
            </ol>
            
            <h4 id="hellomessage"> Добро пожаловать, {{ request.user.username }}!</h4>

            <div style="float:right" class="search_box pull-right">
                <form id="search">
                  <input style="float:right; margin-right:15px" type='text' id='searchText' placeholder="Поиск"/>
                  <input style="display:none" type='submit' value='Search' />
                </form>
            </div>
        </div>              

    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div style="margin-top:35px" class="left-sidebar">
                        <h2>Критерии</h2>

                        <form method="post" action=".">
                            {% csrf_token %}
                            <div class="panel-group category-products" id="accordian">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse"  href="#kinds">
                                                <span class="badge pull-right"></span>
                                                Тип заведения:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="kinds" class="panel-collapse collapse">
                                        <div class="leftpos">
                                            <ul>
                                                {{ form.kind | bootstrap }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse"  href="#cities">
                                                <span class="badge pull-right"></span>
                                                Город:
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="cities" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                {{ form.city | bootstrap }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#areas">
                                                <span class="badge pull-right"></span>
                                                Район: 
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="areas" class="panel-collapse collapse">
                                        <div class="leftpos">
                                            <ul>
                                                {{ form.area | bootstrap }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse"  href="#cuisines">
                                                <span class="badge pull-right"></span>
                                                Кухни: 
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="cuisines" class="panel-collapse collapse">
                                        <div class="leftpos">
                                            <ul>
                                                {{ form.cuisine | bootstrap }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse"  href="#parking">
                                                <span class="badge pull-right"></span>
                                                Парковка: 
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="parking" class="panel-collapse collapse">
                                        <div class="leftpos">
                                            <ul>
                                                {{ form.parking | bootstrap }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#priceran">
                                                <span class="badge pull-right"></span>
                                                Средний чек:  
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="priceran">
                                        <div class="price-range"><!--price-range-->
                                            <div class="well">
                                                <input type="text" name="price" class="span2" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="50" data-slider-value="[100, 9900]" id="sl2" ><br/>
                                         <b>0</b> <b class="pull-right">10000</b>
                                            </div>
                                        </div><!--/price-range-->
                                    </div>
                                </div>
                                
                                <div>
                                    <input class="button" style="margin-top:10px" type="submit" value="Подобрать" />
                                </div>
                            </div><!--/category-productsr-->  
                        </form>        
                    </div>
                </div>
                
                <div style="display:none" class="placestable col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Предложенные Вам: </h2>
                        {% for cafe in all_cafes %}
                            <div class="col-sm-4">
                                <div id="wrap" class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            {% if cafe.photos.all.0 %}
                                                <img src={{ cafe.photos.all.0 }} alt="ok" style="border-radius: 10px; object-fit: cover; height:190px; width:490px"/>
                                            {% else %}
                                                <img src="{% static 'img/noimage.jpg' %}" height="190" width="390" style="border-radius: 10px;" alt="noimage">
                                            {% endif %}
                                            <h2> {{ cafe.rating }} </h2>
                                            <span class="nowrap">{{ cafe.name }}</span>
                                            <p> </p>
                                            <p> </p>
                                            <p><a href="{{cafe.id}}" class="btn btn-default add-to-cart">Подробнее</a></p>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                {% if cafe.kind.kindname == "ресторан" %}
                                                    <p><img src="{% static 'img/icon.png' %}" height="64" width="64" alt="type" style="border-radius: 10px;"/></p>         
                                                {% elif cafe.kind.kindname == "пиццерия" %}
                                                    <p><img src="{% static 'img/pizza.png' %}" height="68" width="68" alt="type" style="border-radius: 10px;"/></p>
                                                {% elif cafe.kind.kindname == "бар" %}
                                                    <p><img src="{% static 'img/wine.png' %}" height="68" width="68" alt="type" style="border-radius: 10px;"/></p>
                                                {% elif cafe.kind.kindname == "паб" %}
                                                    <p><img src="{% static 'img/beer.png' %}" height="64" width="64" alt="type" style="border-radius: 10px;"/></p>
                                                {% else %}
                                                    <p><img src="{% static 'img/cafe.png' %}" height="68" width="68" alt="type" style="border-radius: 10px;"/></p>
                                                {% endif %}
                                                <p>{{cafe.name}}</p>
                                                <p><h2>{{ cafe.rating }}</h2></p>
                                                <p>{{cafe.formatted_address}}</p>
                                                
                                                <a href="{{cafe.id}}" class="btn btn-default add-to-cart">Подробнее</a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">                   
                                                <li>
                                                    <form onsubmit="okmessage()" method="POST" action="." id="like">
                                                    {% csrf_token %}
                                                        <input name='cafeid' style="display:none" type="text" value={{ cafe.id }}  />
                                                        <input style="margin-top:10px; margin-bottom:10px; background-color:white; border-width: 0" name='liked' value="Мне нравится" style="background-color:white; border-width: 0;" type="submit"><img src="{% static 'img/like.png'%}" width='16' height='16'></button>
                                                    </form>
                                                </li>
                                            <!--<li><button style="background-color:white; border-width: 0;" type="submit"><img src="{% static 'img/book.png'%}" width='39' height='39'></button></a></li>!-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="pagination">
 
                            {% if all_cafes.has_previous %}
                                <a href="?page={{ articles.previous_page_number }}">←</a>
                            {% endif %}
                         
                            {% for num in all_cafes.paginator.page_range %}
                                {% if num == all_cafes.number %}
                                    <span class="current"><b>{{ num }}</b></span>
                                {% else %}
                                    <a href="?page={{ num }}"> {{ num }}</a>
                                {% endif %} 
                            {% endfor %}
                         
                            {% if all_cafes_list.has_next %}
                                <a href="?page={{ article_list.next_page_number }}">→</a>
                            {% endif %}
                         
                        </div>
                        
                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'js/price-range.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


{% endblock %}